body
{
    margin: 0;
    padding: 100px 0;
    background-color: #95a5a6;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

.box
{
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(255,255,255,0.2);
}

h1
{
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -1px;
}

#clock
{
    margin: 20px 0;
    font-size: 96px;
    font-weight: bold;
    letter-spacing: -1px;
}

#forecastLocation
{
    font-size: 0.8em;
}

#forecastIcon
{
    margin: 20px 0;
}

/***** TEMPERATURE COLORS *****/

.cold
{
    background-color: #95a5a6;
}

.chilly
{
    background-color: #1abc9c;
}

.nice
{
    background-color: #2980b9;
}

.warm
{
    background-color: #e67e22;
}

.hot
{
    background-color: #e74c3c;
}
